<img src="download.jfif" width="250"/>

<img src="ISM_logo.png" width="300"/>

<img src="Team_logo.png" width="300"/>

# HackFest 2021

* Import the required ML Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

* Importing the dataset

In [3]:
df = pd.read_csv('corona_tested.csv')

c:\users\brijesh\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

* Basic Data Exploration

In [7]:
df.shape

(278848, 10)

In [4]:
df.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-04-30,0,0,0,0,0,negative,None,female,Other
1,2020-04-30,1,0,0,0,0,negative,None,female,Other
2,2020-04-30,0,1,0,0,0,negative,None,male,Other
3,2020-04-30,1,0,0,0,0,negative,None,female,Other
4,2020-04-30,1,0,0,0,0,negative,None,male,Other

In [5]:
df.tail()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
278843,2020-03-11,0,0,0,0,0,negative,None,None,Other
278844,2020-03-11,0,0,0,0,0,negative,None,None,Other
278845,2020-03-11,0,0,0,0,0,positive,None,None,Contact with confirmed
278846,2020-03-11,0,0,0,0,0,other,None,None,Other
278847,2020-03-11,0,0,0,0,0,negative,None,None,Other

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   test_date            278848 non-null  object
 1   cough                278848 non-null  object
 2   fever                278848 non-null  object
 3   sore_throat          278848 non-null  object
 4   shortness_of_breath  278848 non-null  object
 5   head_ache            278848 non-null  object
 6   corona_result        278848 non-null  object
 7   age_60_and_above     278848 non-null  object
 8   gender               278848 non-null  object
 9   test_indication      278848 non-null  object
dtypes: object(10)
memory usage: 21.3+ MB

In [9]:
df.describe()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
count,278848,278848,278848,278848,278848,278848,278848,278848,278848,278848
unique,51,5,5,5,5,5,3,3,3,3
top,2020-04-20,0,0,0,0,0,negative,None,female,Other
freq,10921,121649,133942,260664,261079,260079,260227,127320,130158,242741

In [11]:
df.columns

Index(['test_date', 'cough', 'fever', 'sore_throat', 'shortness_of_breath',
       'head_ache', 'corona_result', 'age_60_and_above', 'gender',
       'test_indication'],
      dtype='object')

In [17]:
for col in df:
    print(col)
    print(df[col].unique())

test_date
['2020-04-30' '2020-04-29' '2020-04-28' '2020-04-27' '2020-04-26'
 '2020-04-25' '2020-04-24' '2020-04-23' '2020-04-22' '2020-04-21'
 '2020-04-20' '2020-04-19' '2020-04-18' '2020-04-17' '2020-04-16'
 '2020-04-15' '2020-04-14' '2020-04-13' '2020-04-12' '2020-04-11'
 '2020-04-10' '2020-04-09' '2020-04-08' '2020-04-07' '2020-04-06'
 '2020-04-05' '2020-04-04' '2020-04-03' '2020-04-02' '2020-04-01'
 '2020-03-31' '2020-03-30' '2020-03-29' '2020-03-28' '2020-03-27'
 '2020-03-26' '2020-03-25' '2020-03-24' '2020-03-23' '2020-03-22'
 '2020-03-21' '2020-03-20' '2020-03-19' '2020-03-18' '2020-03-17'
 '2020-03-16' '2020-03-15' '2020-03-14' '2020-03-13' '2020-03-12'
 '2020-03-11']
cough
[0 1 '0' '1' 'None']
fever
[0 1 '0' '1' 'None']
sore_throat
[0 1 '0' '1' 'None']
shortness_of_breath
[0 1 '0' '1' 'None']
head_ache
[0 1 '0' '1' 'None']
corona_result
['negative' 'positive' 'other']
age_60_and_above
['None' 'Yes' 'No']
gender
['female' 'male' 'None']
test_indication
['Other' 'Abroad' 'Contact with confirmed']

In [20]:
df.isnull().sum()

test_date              0
cough                  0
fever                  0
sore_throat            0
shortness_of_breath    0
head_ache              0
corona_result          0
age_60_and_above       0
gender                 0
test_indication        0
dtype: int64

* Preparing the data

In [21]:
df1 = df.drop("test_date",axis=1)

In [22]:
df2 = df1.drop("test_indication",axis=1)

In [23]:
df2.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender
0,0,0,0,0,0,negative,None,female
1,1,0,0,0,0,negative,None,female
2,0,1,0,0,0,negative,None,male
3,1,0,0,0,0,negative,None,female
4,1,0,0,0,0,negative,None,male